.button-1 {
  display: block !important;
}
.button-2 {
  display: none !important;
}

.image-preview {
  margin: 0 5px;
  height: 130px;
  width: 150px;
  background-position: center;
  background-size: cover;
  border: 1px solid #bbb;
  transition: 200ms;

  button {
    opacity: 0;
    margin: 5px;
    &:hover, &:focus {
      opacity: 1;
    }
  }

  &-container {
    width: max-content;
  }
  &:hover, &:focus {
    box-shadow: inset 0 0 0 130px rgba(0,0,0,.7);
    button {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .button-1 {
    display: none !important;
  }
  .button-2 {
    display: block !important;
  }
}