.sliders {
  border-radius: 0 0 6px 6px;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #d5dce6;
  box-shadow: 0 2px 0 0 #f2f5f8;
  padding: 20px;

  &.hidden {
    display: none;
  }
}
